<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="actor">
	<!-- 배우 목록 -->
	<select id="list" resultType="ActorDto">
		select * from actor order by actor_no asc
	</select>
	<!-- 배우 목록 -->
	<select id="listByConcertRequestNo" resultType="ActorDto">
		select a.actor_no, a.actor_name, c.concert_request_no
			from actor a
			join concert_request c on a.concert_request_no = c.concert_request_no
		where c.concert_request_no = #{concertRequestNo}
	</select>
	
	
	<!-- 배우 상세 -정보 별로 없는데 상세 필요할까싶음-->
	<select id="find" resultType="ActorDto">
		select * from actor where actor_no = #{actorNo}
	</select>
	
	<!-- 배우 등록 -->
	<select id="sequence" resultType="int">
		select actor_seq.nextval from dual
	</select>
	<insert id="save">
		insert into actor(
			actor_no,
			actor_name,
			concert_request_no
		)
		values(
			#{actorNo},
			#{actorName}, 
			#{concertRequestNo}
		)
	</insert>
	
	<!-- 배우 수정 - 이름정보만 변경하면 되는거 아닌가? -->
	<update id="edit">
		update actor
		set 
			actor_name=#{actorName}
		where
			actor_no=#{actorNo}
	</update>
	
	<!-- 배우 삭제 -->
	<delete id="delete">
		delete actor where actor_no=#{actorNo}
	</delete>
	
</mapper>
    