<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="castActor">
	<!-- 공연출연배우 목록 -->
	<select id="list" resultType="CastActorDto">
		select * from cast_actor order by cast_actor_no asc
	</select>
	<!-- 공연일정에 따른 공연출연배우 목록 -->
	<!-- <select id="listbyConcertScheduleNo" resultType="CastActorDto">
		select * from cast_actor where concert_schedule_no=#{concertScheduleNo}
	</select> -->
	
	 <select id="listByConcertScheduleNo" resultType="CastActorDto">
		select ca.cast_actor_no, ca.cast_actor_name, cs.concert_schedule_no
			from cast_actor ca
			join concert_schedule cs on ca.concert_schedule_no = cs.concert_schedule_no
		where cs.concert_schedule_no = #{concertScheduleNo}
	</select> 
	<!-- <select id="listByConcertRequestNo" resultType="CastActorDto">
		select ca.cast_actor_no, ca.cast_actor_name, cs.concert_schedule_no
			from cast_actor ca
			join concert_schedule cs ON ca.concert_schedule_no = cs.concert_schedule_no
			join concert_request cr ON cs.concert_request_no = cr.concert_request_no
		where cr.concert_request_no = #{concertRequestNo}
	</select> -->
	
	<!-- 공연출연배우 상세 -정보 별로 없는데 상세 필요할까싶음-->
	<select id="find" resultType="CastActorDto">
		select * from cast_actor where cast_actor_no = #{cast_actor_no}
	</select>
	
	<!-- 공연출연배우 등록 -->
	<select id="sequence" resultType="int">
		select cast_seq.nextval from dual
	</select>
	<insert id="save">
		insert into cast_actor(
			cast_actor_no,
			cast_actor_name,
			concert_schedule_no
		)
		values(
			#{castActorNo},
			#{castActorName}, 
			#{concertScheduleNo},
		)
	</insert>
	
	<!-- 공연출연배우 수정 - 이름정보만 변경하면 되는거 아닌가? -->
	<update id="edit">
		update cast_actor
		set 
			cast_actor_name=#{castActorName}
		where
			cast_actor_no=#{castActorNo}
	</update>
	
	<!-- 공연출연배우 삭제 -->
	<delete id="delete">
		delete cast_actor where cast_actor_no=#{castActorNo}
	</delete>
	
</mapper>
    