<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="member">


	<!-- 목록 -->
	<select id="list" resultType="MemberDto">
		select * from member order by member_no asc
	</select>
	<select id="find" resultType="MemberDto">
		select * from member where member_no = #{memberNo}
	</select>
	
	<select id="selectFindId" resultType="MemberDto">
		select * from member where member_id = #{memberId}
	</select>
	
	<!-- 등록 -->
   <select id="sequence" resultType="int">
      select member_seq.nextval from dual
   </select>

   <select id="getMyReservationList" resultType="hashmap">
   		select tb2.*, tb3.* from member tb1
   		left outer join reservation tb2
   		on tb1.member_no = tb2.member_no
   		left outer join seat tb3
   		on tb2.seat_no = tb3.seat_no
   		where tb1.member_no = #{member_no}
   </select>

   <insert id="insert">
      insert into member(member_no, member_name, member_id, member_pw, member_contact, member_email, member_birth, member_post, member_address1, member_address2)
      values(member_seq.nextval, #{memberName}, #{memberId}, #{memberPw}, #{memberContact}, #{memberEmail}, #{memberBirth}, #{memberPost}, #{memberAddress1}, #{memberAddress2})
   </insert>
	
	<!-- 삭제 -->
	<delete id="delete">
		delete member where member_id = #{memberId}
	</delete>
	
	<!-- (회원)수정 -->
	<update id="edit">
		update member
		<set>
			<if test="memberName != null">member_name = #{memberName},</if>
			<if test="memberPw != null">member_pw = #{memberPw},</if>
			<if test="memberContact != null">member_contact = #{memberContact},</if>
			<if test="memberEmail != null">member_email = #{memberEmail},</if>
			<if test="memberBirth != null">member_birth = #{memberBirth},</if>
			<if test="memberPost != null">member_post = #{memberPost},</if>
			<if test="memberAddress1 != null">member_address1 = #{memberAddress1},</if>
			<if test="memberAddress2 != null">member_address2 = #{memberAddress2},</if>
		</set>
		where member_no = #{memberNo}
	</update>
	
	<!-- (관리자->회원)수정 -->
	<update id="editMemberByAdmin">
		update member
		<set>
			<if test="memberName != null">member_name = #{memberName},</if>
			<if test="memberContact != null">member_contact = #{memberContact},</if>
			<if test="memberGrade != null">member_grade = #{memberGrade},</if>
			<if test="memberEmail != null">member_email = #{memberEmail},</if>
			<if test="memberBirth != null">member_birth = #{memberBirth},</if>
			<if test="memberPost != null">member_post = #{memberPost},</if>
			<if test="memberAddress1 != null">member_address1 = #{memberAddress1},</if>
			<if test="memberAddress2 != null">member_address2 = #{memberAddress2},</if>
			<if test="memberPoint != null">member_point = #{memberPoint},</if>
		</set>
		where member_no = #{memberNo}
	</update>
	
	<!-- 아이디 중복체크 -->
	<select id="selectDoubleCheckId" resultType="string">
		select member_id from member where member_id = #{memberId}
	</select>
	
	<!-- 이메일 중복체크 -->
	<select id="selectDoubleCheckEmail" resultType="string">
		select member_email from member where member_email = #{memberEmail}
	</select>
	
	<!-- 아이디 찾기 -->
	<select id="getFindId" resultType="MemberDto">
		select * from member
		where member_name = #{memberName}
		and member_Email = #{memberEmail}
	</select>
	
	<!-- 비밀번호 찾기 -->
	<select id="getFindPw" resultType="MemberDto">
		select * from member
		where member_id = #{memberId}
		and member_Email = #{memberEmail}
	</select>
	
	<!-- 임시비밀번호로 변경 -->
	<update id="editTempPassword">
		update member set member_pw = #{memberPw} where member_id = #{memberId}
	</update>
		
</mapper>









