<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="qna">

	<select id="sequence" resultType="int">
		select qna_seq.nextval from dual
	</select>

	<select id="list" resultType="QnaDto">
    	SELECT * FROM (
    	SELECT ROWNUM AS rn, TMP.* FROM (
        SELECT
            qna_no,
            qna_title,
            qna_target,
            qna_answer
        FROM qna
        CONNECT BY PRIOR qna_no = qna_target
        START WITH qna_target IS NULL
        ORDER SIBLINGS BY qna_no DESC, qna_no ASC
    ) TMP
) WHERE rn BETWEEN 1 AND 10
	</select>

	
	<select id="find" resultType="QnaDto">
		select * from qna where qna_no = #{qnaNo}
	</select>

	<insert id="save">
		insert into qna(qna_no, qna_title, qna_content, qna_answer)
		values
		(#{qnaNo}, #{qnaTitle}, #{qnaContent}, #{qnaAnswer})
	</insert>

	<!-- 수정 -->
	
	<update id="edit">
		update qna
		<set>
			<if test="qnaTitle != null">qna_title = #{qnaTitle},</if>
			<if test="qnaContent != null">qna_content = #{qnaContent},</if>
			<if test="qnaContent != null">qna_target = #{qnaTarget},</if>
		</set>
		where qna_no = #{qnaNo}
	</update>

	<delete id="delete">
		delete qna where qna_no = #{qnaNo}
	</delete>


</mapper>
    